:root {
  --background-color: rgb(24, 24, 24);
  --hive-yellow: rgb(255, 185, 56);
  --dark-hive-yellow: rgb(231, 168, 52);
  --text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 0, 0);
  --output-container-color: rgb(32, 32, 32);
}

* {
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

* body {
  background-color: var(--background-color);
}

* input {
  background-color: var(--background-color);
  width: 20%;
}

* textarea {
  background-color: var(--background-color);
  /* color: rgb(255, 180, 42); */
}

* .content-container {
  padding: 4rem 24rem;
  opacity: 1;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

* .form-container {
  display: flex;
  background-color: var(--output-container-color);
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem 1rem 2rem;
  flex: 1;
  border: groove 2px white;
  margin-bottom: 1rem;
}

* .form-gap {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

* .output-container {
  background-color: var(--output-container-color);
  max-height: 57vh;
  display: flex;
  flex: 1;
  border: groove 2px white;
}

* button {
  color: var(--secondary-text-color);
  background: var(--hive-yellow);
  margin-top: 1rem;
  padding: 0rem 1rem;
}

* button:hover {
  /* color: var(--secondary-text-color); */
  background: var(--dark-hive-yellow);
}

* button:active {
  color: var(--secondary-text-color);
  background: var(--hive-yellow);
  margin-top: 1rem;
  padding: 0rem 1rem;
}

* #formatted_output {
  display: flex;
  flex: 1;
}

* .upload-div:hover {
  background: radial-gradient(rgb(54, 54, 54), rgb(63, 63, 63));
  cursor: pointer;
}

input {
  width: 150px;
  height: 30px;
}
.form-container textarea {
  transition-duration: 0.5s;
  width: 150px;
  height: 40px;
}

.form-container textarea:focus {
  transition-duration: 0.5s;
  height: 200px;
  width: 400px;
}

.file-upload-label {
  border: 10px;
  border-style: solid;
  padding: 1rem;
}
